// fonts
$MONOSPACE: 'Inconsolata', monospace;
$SANS: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// dimensions
$HEADER_HEIGHT: 40px;

// dividers
$BORDER_MINOR: 1px solid lightgray;
$BORDER_MAJOR: 2px solid black;


$BLUE_COLOR: #0075ff;
$GREEN_COLOR: #008C65;
$RED_COLOR: #D50500;