$MONOSPACE: 'Inconsolata', monospace;
$HEADER_HEIGHT: 80px;

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $MONOSPACE;
    height: 100%;
}

body {
    overflow-x: scroll;
    background-color: #eee;
}

header {
    height: $HEADER_HEIGHT;
}

h1 {
    margin: 0;
}

section.operation {
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
    height: calc(100vh - #{$HEADER_HEIGHT});

    textarea {
        border: 0;
        padding: 1em;
        font-size: 1.1em;
        line-height: 1.35;
        font-family: $MONOSPACE;
        resize: none;
        outline: none;
        background-color: rgba(255,255,255, 0.5);
        transition: background-color 0.2s;
        border-top: 1px solid lightgray;
        border-right: 2px solid lightgray;


        &:focus {
            background-color: white;
        }
    }
}
