// @import '../node_modules/tether-tooltip/dist/css/tooltip-theme-arrows';

$MONOSPACE: 'Inconsolata', monospace;
$HELVETICA: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$HEADER_HEIGHT: 45px;
$MIN_COL_WIDTH: 32%; // minimum width an operation column can shrink to
$BORDER_THIN: 1px solid lightgray;
$BLUE_COLOR: #0080FF;


// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: $MONOSPACE;
}

html, body, #root {
    height: 100%;
}

body {
    overflow-x: scroll;
    background-color: #fafafa;
}

header {
    position: fixed;
    width: 100%;
    height: $HEADER_HEIGHT;
    padding: 0 0.5em;

    h1 {
        font-size: 2em;
        margin: 0.2em 0;
        float: left;
    }

    .tagline {
        font-weight: normal;
        color: gray;
        font-size: 0.9em;
        float: left;
        margin: 1.1em 0.9em;
    }
}

main {
    padding-top: $HEADER_HEIGHT;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

textarea, select, input, .dropdown-arrow {
    outline: none;
    border: 0;
    border-radius: 0;
    background-color: white;
}

textarea, input {
    transition: background-color 0.25s;

    &:focus {
        background-color: #fbfdff;
    }
}

.input-container, .output-container {
    min-width: $MIN_COL_WIDTH;
    width: 50%;
}

textarea, output {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.35;
    font-family: $MONOSPACE;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: $BORDER_THIN;
    margin-top: 0; // remove the margin Safari adds above textareas
    height: 100%; // Firefox needs this in addtion to the `top:0` / `bottom:0`
}

output {
    border-left: 2px solid black;
    background-color: rgba(255,255,255, 0.7);
    display: block;

    pre {
        font-family: $MONOSPACE;
        margin: 0;
        white-space: pre-wrap;
    }
}

ins {
    text-decoration: none;
    background-color: rgba(0, 255, 0, 0.25);
}

del {
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.25);
}

.input-container, .output-container {
    position: relative;
}

.output-container {
    .copy {
        z-index: 100;
        font-family: $HELVETICA;
        text-transform: uppercase;
        font-size: 0.7em;
        position: absolute;
        padding: 0.4em 0.8em;

        &.btn {
            top: 0;
            right: 0;
            cursor: pointer;
            color: $BLUE_COLOR;
            background-color: white;
            border: 1px solid lightgray;

            &.zeroclipboard-is-hover {
                background-color: #eee;
            }

            img {
                height: 14px;
                vertical-align: text-bottom;
                margin-right: 0.25em;
            }
        }

        &.success-msg {
            top: 1px;
            right: 65px;
            display: none;
            color: #0c0;
            cursor: default;
            background-color: white;
            -webkit-transition: opacity 3s ease-in-out;
            -moz-transition: opacity 3s ease-in-out;
            -ms-transition: opacity 3s ease-in-out;
            -o-transition: opacity 3s ease-in-out;
        }
    }
}

.operations {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    display: -webkit-flex;
    display: flex;
}

.operation {
    position: relative;
    min-width: $MIN_COL_WIDTH;
    width: 50%;
    display: -webkit-flex;
    display: flex;
    border-top: $BORDER_THIN;
    border-bottom: $BORDER_THIN;
    border-left: 2px solid black;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    & select, & input {
        height: 100%;
    }

    & select, & input, & button {
        font-family: $MONOSPACE;
        font-size: 1.5em;
        padding: 0.25em 0 0.25em 0.35em;
        margin: 0;
    }

    button.remove-operation {
        // the 'x' is not centered in the button for some reason, so we use
        // padding to compensate
        padding: 0 0.6em 0 0.3em;
        background-color: white;
        border: 0;
        cursor: pointer;

        &:hover {
            color: red;
        }
    }

    .dropdown-arrow {
        font-size: 1.5em;
        padding: 0.15em 0.5em 0 0;
        border-right: 1px solid lightgray;
        cursor: default;
    }

    .args {
        width: 100%;
        position: relative;

        input {
            width: 100%;
        }
    }

    .error {
        position: absolute;
        padding: 0.5em;
        transform: translateY(-100%);
        width: 100%;
        background-color: white;
        color: red;
    }
}

.editor-options {
    position: fixed;
    top: 0; right: 0;
    margin: 0.45rem 0.5rem;
    z-index: 200;
    line-height: 2;

    label {
        margin-right: 0.75em;
        font-weight: bold;
        white-space: nowrap;
    }

    a {
        color: gray;
        font-size: 0.9em;
        margin-left: 0.25em;
        white-space: nowrap;

        &:hover {
            color: black;
        }
    }

    &.open-btn {
        margin-top: -1.3em;
        cursor: pointer;
        display: none;
        text-transform: uppercase;
        font-family: $HELVETICA;
        font-size: 0.8em;
        z-index: 0;

        .label {
            vertical-align: text-bottom;
        }

        .gear {
            font-size: 3em;
            margin-left: 0.15em;
        }
    }

    .option {
        display: inline-block;
    }

    .command-reference {
        margin-right: 0.75em;
        position: relative;
        display: inline-block;

        &:hover {
            background-color: rgba(0,0,0, 0.1);

            .contents {
                display: block;
            }
        }

        .dropdown {
            cursor: default;
            font-weight: bold;
            border: 1px solid lightgray;
            padding: 0 0.6em;
            vertical-align: top; // fixes space rendering issue in some browsers
            line-height: 1.8;
        }

        .contents {
            color: white;
            position: absolute;
            background-color: rgba(0,0,0,0.8);
            z-index: 300;
            color: white;
            padding: 0.5em 1em;
            font-size: 0.9em;
            width: 420px;
            display: none;
            line-height: 1;

            .command {
                margin: 0.4em 0;

                a {
                    color: #B5DAFF;
                    margin-left: 0.5em;
                    font-size: 1em;
                }

                .name {
                    font-weight: bold;
                }

                .description {
                    margin: 0.2em;
                }
            }
        }
    }
}

.io {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-flex;
    display: flex;
    height: 0; // http://stackoverflow.com/a/14964944
}

#logo {
    font-family: $MONOSPACE;
    font-size: 1.5em;
    float: left;
    margin: 0.2em 0.4em 0.2em 0;
    color: lightgray;
    background-color: #222;
    position: relative;
    padding: 0.15em 1.2em 0.15em 0.25em;
    border-radius: 0.2em;
    border: 1px solid gray;
    cursor: default;

    img {
        width: 22px;
        position: absolute;
        right: 0.14em;
        top: 0.24em;
    }
}

@import 'responsive';
