$MONOSPACE: 'Inconsolata', monospace;
$HEADER_HEIGHT: 80px;
$MIN_COL_WIDTH: 33%; // minimum width an operation column can shrink to


// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: $MONOSPACE;
}

html, body, #app {
    height: 100%;
}

body {
    overflow-x: scroll;
    background-color: #f8f8f8;
}

header {
    float: left;
    width: 100%;

    h1 {
        font-size: 2em;
        margin: 0.1em 0 0 0.2em;
    }
}

main {
    height: 100%;
}

textarea, select, input, output, .dropdown-arrow {
    outline: none;
    border: 0;
    border-radius: 0;
    background-color: rgba(255,255,255, 0.5);
}

textarea, input, output {
    transition: background-color 0.2s;

    &:focus {
        background-color: white;
    }
}

textarea, output {
    min-width: $MIN_COL_WIDTH;
    height: 100%;
    width: 50%;
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.35;
    font-family: $MONOSPACE;
    resize: none;
    overflow-y: auto;
}

output {
    border-left: 2px solid lightgray;

    pre {
        font-family: $MONOSPACE;
        margin: 0;
        white-space: pre-wrap;
    }
}

ins {
    text-decoration: none;
    background-color: rgba(0, 255, 0, 0.3);
}

del {
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.3);
}

.operations {
    display: flex;
    clear: right;
}

.operation {
    min-width: $MIN_COL_WIDTH;
    width: 50%;
    display: flex;
    display: -webkit-flex;
    $border-thin: 1px solid lightgray;
    border-top: $border-thin;
    border-bottom: $border-thin;
    border-left: 2px solid lightgray;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    & select, & input {
        height: 100%;
    }

    & select, & input, & button {
        font-family: $MONOSPACE;
        font-size: 1.5em;
        padding: 0.25em 0.5em;
        margin: 0;
    }

    button.remove-operation {
        // the 'x' is not centered in the button for some reason, so we use
        // padding to compensate
        padding: 0 1em 0 0.85em;
        background-color: red - #555;
        border: 0;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: red - #222;
        }
    }

    .dropdown-arrow {
        font-size: 1.5em;
        padding: 0.15em 0.5em 0 0;
        border-right: 1px solid lightgray;
        cursor: default;
    }

    .args {
        width: 100%;

        input {
            width: 100%;
        }
    }
}

.editor-options {
    float: right;
    margin: 0 0.5em 0.25em;
}

.io {
    display: flex;
    height: 100%;
}
