@media (max-width: 1210px) {
    header .tagline {
        display: none;
    }
}


@media (max-width: 960px) {
    .input-container, .output-container, .operation {
        min-width: 45%;
    }
}


@media (max-width: 760px) {
    .editor-options {
        &.editor-options-options {
            background-color: white;
            padding: 0.5em 0.75em;
            box-shadow: 2px 2px;
            border: 1px solid gray;
            margin: 0 2.5em 0 0;
        }

        &.hidden-mobile {
            display: none;
        }

        &.open-btn {
            display: block;
        }
    }
}


@media (max-width: 640px) {
    .input-container, .output-container, .operation {
        min-width: 60%;
    }
}


@media (max-width: 480px) {
    .input-container, .output-container, .operation {
        min-width: 90%;
    }

    .editor-options {
        .command-reference {
            .contents {
                width: 90vw;
            }
        }
    }
}
