<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="favicon.ico" rel="icon" type="image/x-icon" />
        <title>Text Stream Editor | run sed, grep, and awk interactively on the web</title>
        <meta name="description" content="Run sed, grep, and awk Linux commands interactively online in real time with visual diff." />

        <!-- Open Graph -->
        <meta property="og:title" content="Online Stream Editor | run sed, grep, and awk interactively on the web" />
        <meta property="og:site_name" content="Online Stream Editor" />
        <meta property="og:url" content="http://onlinestreameditor.com/" />

        <link href='//fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>

    </body>

    <script src="/static/dist/bundle.js"></script>
</html>
