@import "constants";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: $MONOSPACE;
  height: 100%;
}

body {
  @include theme-aware("background-color", "background-secondary");
  @include theme-aware("color", "foreground-primary");

  &.loading {
    cursor: wait;
  }
}

a {
  text-decoration: none;
  @include theme-aware("color", "link-default");

  &:hover {
    text-decoration: underline;
  }
}

main {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  flex-grow: 1;
}

textarea,
input {
  border: 0;
  border-radius: 0;
  @include theme-aware("background-color", "background-primary");
  @include theme-aware("color", "foreground-primary");

  &:focus {
    @include theme-aware("background-color", "background-input-focus");
  }
}

textarea,
output {
  width: 100%;
  padding: 3rem 1em 1em;
  line-height: 1.35;
  resize: none;
  overflow-y: auto;
  border-top: 1px solid;
  @include theme-aware("border-top-color", "divider-secondary");
  margin-top: 0; // remove the margin Safari adds above textareas
  height: 100%; // Firefox needs this in addtion to the `top:0` / `bottom:0`
}

button {  
  &:hover {
    filter: brightness(110%) contrast(150%);
  }
}

#root {
  display: flex;
  flex-direction: column;
}

.io.actions {
  $overlay-border-radius: 0.2em;

  font-size: 0.85em;
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  display: flex;
  align-items: center;

  & > * {
    margin-left: 0.5em;
  }

  button {
    z-index: 100;
    white-space: nowrap;
    padding: 0.25em 0.5em;
    font-size: 0.9em;
    cursor: pointer;
    @include theme-aware("color", "link-default");
    @include theme-aware("background-color", "background-primary");
    border: 1px solid;
    @include theme-aware("border-color", "link-default");
    border-radius: 0.2em;
    height: 2em;

    img {
      height: 14px;
      vertical-align: text-bottom;
      margin-right: 0.25em;
    }
  }

  .input, .output {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid;
    @include theme-aware("border-color", "divider-secondary");
    padding: 0.1em 0.2em;
    @include theme-aware("background-color", "background-primary");
    @include theme-aware("color", "foreground-secondary");
    border-radius: $overlay-border-radius;
    height: 1.5em;
    margin-left: 0.75em;
  }

  .show-diff {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    @include theme-aware("background-color", "background-primary");
    border-radius: 0.2em;

    input[type=checkbox] {
      margin-left: 0;
    }
  }

  .upload.error {
    @include theme-aware("color", "error-destructive");
    @include theme-aware("background-color", "background-primary");
    border-radius: $overlay-border-radius;
    text-align: right;
    margin-right: 0.5em;
    font-size: 0.9em;
    padding: 0.2em;
  }
}

.sans {
  font-family: $SANS;
}

.mono {
  font-family: $MONOSPACE;
}

.io-container {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-flex;
  display: flex;
  height: 0; // http://stackoverflow.com/a/14964944
}

.input-container,
.output-container {
  width: 50%;
  position: relative;
}

.operations {
  flex: 0 1 auto;
  display: flex;
}

@import "responsive";
