@import 'constants';

header {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  // @include theme-aware("background-color", "background-primary");
  // border-bottom: 1px solid;
  // @include theme-aware("border-color", "divider-secondary");

  #logo {
    width: 42px;
    filter: saturate(1.5);
    margin-right: 1em;
  }

  h1, h2 {
    margin: 0;
    display: inline-block;
  }

  h1 {
    margin-right: 0.5em;
    font-size: 1.5em;
  }

  h2 {
    font-weight: normal;
    font-size: 1em;
    margin-top: 0.2em;
  }
}